# DB
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=notification
DB_HOST=mysql
DB_USER=root
DB_PASSWORD=

# Redis
REDIS_HOST=redis

# Web
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
JPA_DDL_AUTO=update
WEB_BASE_URL=http://web:8080

# Scale
RELAY_REPLICAS=1
WORKER_REPLICAS=1
WORKER_CONCURRENCY=2
